:root {
    --item-width: 225px;
    --item-height: 200px;
    --font-size: 14px;
    font-size: var(--font-size);
    --border-rad: 10px;
}
/* Light color scheme (Auto) */
/* Automatically enabled if user has Light mode enabled */
@media only screen and (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        --back-color: #f7ede2;
        background-color: var(--back-color);
        --text-color: #515052;
        color: var(--text-color);
    }
}
/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --back-color: #1c1c1c;
        background-color: var(--back-color);
        --text-color: #f7ede2;
        color: var(--text-color);
    }
}


/* Nav bar classes */
.top {
    border-bottom: solid var(--text-color) 2px;
    position: fixed;
    /* When nav bar is fixed, the width gets shorter, this sets the width to what it was before being fixed */
    width: 81.5%;
    /* Background prevents items from being seen through nav bar */
    background: var(--back-color);
    padding-top: 14px;
    z-index: 99;
}
.page {
    margin-top: 120px; 
}
.container {
    /* There is padding at the top of the page automatically
        However when padding-top=0px, the nav bar breaks */
    padding-top: 0.1px;
}
.search {
    /* Aligns search bar with rest of elements in nav bar */
    margin: 0px;
}
.search-color {
    background-color: var(--back-color);
    border: solid var(--text-color) 1px;
    /* Want to remove blue outline when the box is clicked on 
        and for "Search" text to be --text-color */
}
.search-button {
    color: var(--back-color);
    border: solid var(--text-color) 1px;
    border-left: 0px;
}
.link-txt-color {
    color:var(--text-color);
    text-decoration: none;
}
.link-txt-color:hover {
    text-decoration: underline;
}


/* Classes for Items */
div.item {
    width: var(--item-width);
    /* Image will be --item-width by --item-height with rect under for text */
    height: calc(var(--item-height) + var(--font-size) * 3.3);
    border: 1px solid;
    margin: 10px;
    border-radius: var(--border-rad);
}
.img {
    /* Top corners rounded, bottoms not */
    border-radius: var(--border-rad) var(--border-rad) 0px 0px;
    width: 100%;
    height: var(--item-height);
}
hr.item {
    /* The hr line starts 1px to the right of the box so it needs to be 1px shorter*/
    width: calc(var(--item-width) - 1px);
    border-top: 1px solid;
    margin: 0px;
    /* margin-top: var(--item-height); */
}
.none {
    /* Strips links of style - so they appear as normal text */
    text-decoration: none;
    color: inherit;
}
.fa-star, .fa-star-half-full, .fa-star-o {
    color: #f6bd60;
}
.space {
    /* Space for recipe names and stars in item */
    padding-left: 2%;
}
.dots {
    /* Adds '...' to end of the recipe title if it exceeds the item box's width */
    white-space: nowrap;        
    overflow: hidden;
    text-overflow: ellipsis;    
    display: inline-block;
    vertical-align: top;
    width: calc(var(--item-width) - 8px);
}

/* Recipe Pages */
label, li {
    color: var(--text-color);
}
/* .img-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    padding: 0px;
} */
.recipe-img {
    border: solid var(--text-color) 1px;
    border-radius: var(--border-rad);
    /* margin-bottom: 15px; */
    /* 4:3 aspect ratio */
    width: 300px;
    height: 225px;
}
hr {
    border-top: solid var(--text-color) 1px;
}
.description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.r-justify {
    float: right;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--text-color) 2px;
    /* padding: 5px; */
    color:var(--text-color);
    text-decoration: none;
}
.recipe-cols {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

/* Genearl */
h1, h2, h3, h4, h6 {
    color: var(--text-color);
}
article {
    background-color: var(--back-color);
}
.inline {
    /* default is display: block; */
    display: inline-block;
}
