{% extends "base.html" %}

{% block styles %}
    h3 {
        margin-top: 20px;
        width: 95%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        display: inline-block;
    }
{% endblock %}

{% block body %}
<h3>
    Breakfast
    <a href=""><span class="fa fa-arrow-right r-justify icon" aria-hidden="false"></span></a>
    <a href=""><span class="fa fa-arrow-left r-justify icon" aria-hidden="false"></span></a>
</h3>
<div class="grid">
     <div class="item">   
        <a href="/peppers"><img class="img" title="cat" src="{{ img }}/peppers2.jpg"/></a>
        <hr class="item" /> 
        <a href="/peppers" class="none space"><b> Cream Cheese Stuffed Peppers </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-full"></span>    
    </div>
    {% for r in recipes[1:4] %}
        <div class="item"> 
            <!-- <a href="{{ r['href'] }}"><img title="{{r['name']}}" src= "{{ img }}/{{ r['src'] }}" /></a> -->
            <a href="{{ url_for('recipe_ex', id=r.id) }}"><img class="img" title="{{r['name']}}" src= "{{ r['src'] }}" /></a>
            <hr class="item" /> 
            <a href="{{ url_for('recipe_ex', id=r.id) }}" class="none space"><b class="dots"> {{r['name']}} </b></a>
            <br>
            <span class="space"></span>
            {{ r['stars'] | safe }}
        </div>
    {% endfor %}
</div>

<h3>
    Lunch
    <a href=""><span class="fa fa-arrow-right r-justify icon" aria-hidden="false"></span></a>
    <a href=""><span class="fa fa-arrow-left r-justify icon" aria-hidden="false"></span></a>
</h3>
<div class="grid">
    {% for r in recipes[5:9] %}
        <div class="item"> 
            <!-- <a href="{{ r['href'] }}"><img title="{{r['name']}}" src= "{{ img }}/{{ r['src'] }}" /></a> -->
            <a href="{{ url_for('recipe_ex', id=r.id) }}"><img class="img" title="{{r['name']}}" src= "{{ r['src'] }}" /></a>
            <hr class="item" /> 
            <a href="{{ url_for('recipe_ex', id=r.id) }}" class="none space"><b class="dots"> {{r['name']}} </b></a>
            <br>
            <span class="space"></span>
            {{ r['stars'] | safe }}
        </div>
    {% endfor %}
</div>
    
<h3>
    Dinner
    <a href=""><span class="fa fa-arrow-right r-justify icon" aria-hidden="false"></span></a>
    <a href=""><span class="fa fa-arrow-left r-justify icon" aria-hidden="false"></span></a>
</h3>
<div class="grid">
    {% for r in recipes[10:14] %}
        <div class="item"> 
            <!-- <a href="{{ r['href'] }}"><img title="{{r['name']}}" src= "{{ img }}/{{ r['src'] }}" /></a> -->
            <a href="{{ url_for('recipe_ex', id=r.id) }}"><img class="img" title="{{r['name']}}" src= "{{ r['src'] }}" /></a>
            <hr class="item" /> 
            <a href="{{ url_for('recipe_ex', id=r.id) }}" class="none space"><b class="dots"> {{r['name']}} </b></a>
            <br>
            <span class="space"></span>
            {{ r['stars'] | safe }}
        </div>
    {% endfor %}
</div>

<h3>
    Desserts
    <a href=""><span class="fa fa-arrow-right r-justify icon" aria-hidden="false"></span></a>
    <a href=""><span class="fa fa-arrow-left r-justify icon" aria-hidden="false"></span></a>
</h3>
<div class="grid">
    {% for r in recipes[15:19] %}
        <div class="item"> 
            <!-- <a href="{{ r['href'] }}"><img title="{{r['name']}}" src= "{{ img }}/{{ r['src'] }}" /></a> -->
            <a href="{{ url_for('recipe_ex', id=r.id) }}"><img class="img" title="{{r['name']}}" src= "{{ r['src'] }}" /></a>
            <hr class="item" /> 
            <a href="{{ url_for('recipe_ex', id=r.id) }}" class="none space"><b class="dots"> {{r['name']}} </b></a>
            <br>
            <span class="space"></span>
            {{ r['stars'] | safe }}
        </div>
    {% endfor %}
</div>

<h3>
    Snacks
    <a href=""><span class="fa fa-arrow-right r-justify icon" aria-hidden="false"></span></a>
    <a href=""><span class="fa fa-arrow-left r-justify icon" aria-hidden="false"></span></a>
</h3>
<div class="grid">
    {% for r in recipes[20:24] %}
        <div class="item"> 
            <!-- <a href="{{ r['href'] }}"><img title="{{r['name']}}" src= "{{ img }}/{{ r['src'] }}" /></a> -->
            <a href="{{ url_for('recipe_ex', id=r.id) }}"><img class="img" title="{{r['name']}}" src= "{{ r['src'] }}" /></a>
            <hr class="item" /> 
            <a href="{{ url_for('recipe_ex', id=r.id) }}" class="none space"><b class="dots"> {{r['name']}} </b></a>
            <br>
            <span class="space"></span>
            {{ r['stars'] | safe }}
        </div>
    {% endfor %}
</div>
{% endblock %}
