{% extends "base.html" %}

{% block styles %}
    h3 { margin-top: 20px; } 
{% endblock %}

{% block body %}
<!-- Need a way to prevent long names from breaking box -->
<h3>Breakfast</h3>
<!-- Possible scroll bar: https://css-tricks.com/pure-css-horizontal-scrolling/ -->
<div class="grid">
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
</div>

<h3>Lunch</h3>
<div class="grid">
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
</div>
    

<h3>Dinner</h3>
<div class="grid">
    <div class="item">   
        <a href="/peppers"><img title="cat" src="{{ img }}/peppers2.jpg"/></a>
        <hr class="item" /> 
        <a href="/peppers" class="none space"><b> Cream Cheese Stuffed Peppers </b></a>
        <br>
        <span class="fa fa-star checked space"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>    
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div> 
</div>

<h3>Desserts</h3>
<div class="grid">
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
</div>

<h3>Snacks</h3>
<div class="grid">
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
    <div class="item"> 
        <a href=""><img title="cat" src="https://placecats.com/225/200"/></a>
        <hr class="item" /> 
        <a href="" class="none space"><b> Recipe Name </b></a>
        <br>
        <span class="fa fa-star space"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
    </div>
</div>
{% endblock %}
