{% extends "base.html" %}

{% block body %}
<article class="center-box">
    <a href="/"><span class="fa fa-times r-justify no-link-show" aria-hidden="true"></span></a>
    <h2 class="center-txt"> Log In </h2>
    <form action="{{ url_for('submit_log_in') }}" method="POST">
        <h4>Email or Username</h4>
        <input type="email" name="email" placeholder="Enter Email or Username" aria-label="Email" autocomplete="email">
        <h4>Password</h4>
        <input type="password" name="password" placeholder="Enter Password" aria-label="Password">
        <a href="">Forgot Password.</a>
        <input type="submit" value="Log In">
        <p class="inline"> Don't have an account? </p><a href="/sign-up"> Sign up here. </a>
    </form>
</article>
{% endblock %}
