{% extends "base.html" %}

{% block body %}
<article class="center-box">
    <a href="/"><span class="fa fa-times r-justify no-link-show" aria-hidden="true"></span></a>
    <h2 class="center-txt"> Log In </h2>
    <form action="{{ url_for('log_in') }}" method="POST">
        <h4>Username Or Email</h4>
        <input type="text" name="usernameOrEmail" placeholder="Enter Username or Email" aria-label="Username" autocomplete="username">
        <h4>Password</h4>
        <input type="password" name="password" placeholder="Enter Password" aria-label="Password">
        <!-- <a href="">Forgot Password.</a> -->
        <input type="submit" value="Log In">
        <p class="inline"> Don't have an account? </p><a href="/sign-up"> Sign up here. </a>
    </form>
</article>
{% endblock %}
