{% extends "base.html" %}

{% block body %}
    <div class="img-container inline">
        <img class="recipe-img" title="peppers" src="{{ img }}/peppers.jpg"/>
    </div>
    <div class="inline space" style="width: 700px;">
        <h1>
            Cream Cheese Stuffed Peppers
            <!-- Need to not have icon on same line as name as that will mess up icon placement if name is longer than 1 line -->
            <!-- Next two lines switch depending on if owner of recipe or not -->
            <a href=""><span class="fa fa-pencil r-justify icon" aria-hidden="false"></span></a>
            <!-- <a href=""><span class="fa fa-bookmark-o r-justify icon" aria-hidden="false"></span></a> -->
        </h1>
        <h4> By: Zack Newton </h4>
        <h4> 
            Rating: 4.83/5.0
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half-full"></span>
            (3) | 
            <!-- If logged in, this is an option -->
            <a href="">Rate Recipe</a> 
        </h4>
        <article>
            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
            <b>Allergens:</b>
            This recipe may contain: <b>Milk</b>. Read recipe carefully and make subsitutes as necessary.
            <!-- https://www.fda.gov/food/nutrition-food-labeling-and-critical-foods/food-allergies -->
        </article>
    </div>

    <article class="description">
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
    </article>
    
    <article>
        <fieldset>
            <legend class="txt-color"> Servings: 4 </legend>
            <input type="radio" id="0.5x" name="servings" />
            <label htmlFor="0.5x">0.5x</label>
            <input type="radio" id="1.0x" name="servings" checked/>
            <label htmlFor="1.0x">1.0x</label>
            <input type="radio" id="1.5x" name="servings" />
            <label htmlFor="1.5x">1.5x</label>
            <input type="radio" id="2.0x" name="servings" />
            <label htmlFor="2.0x">2.0x</label>
            <input type="radio" id="3.0x" name="servings" />
            <label htmlFor="3.0x">3.0x</label>
            <input type="radio" id="4.0x" name="servings" />
            <label htmlFor="4.0x">4.0x</label>
        </fieldset>
        <hr/>
        <!-- Add proper spacing -->
        Prep Time: 1 hour &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Cook Time: 10 minutes &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        Total Time: 1 hour and 10 minutes
    </article>

    <div class="recipe-cols">
        <article>
            <h3> Ingredients </h3>
            <ul>
                <li>8 bell peppers</li>
                <li>10 cups spinach</li>
                <li>1 yellow onion</li>
                <li>4oz of mushrooms</li>
                <li>6 cloves of garlic</li>
                <li>4 8oz blocks of cream cheese</li>
                <li>2 cups mozzeralla cheese</li>
                <li>1 cup parmesan cheese</li>
                <li>2 tsp. paprika</li>
            </ul>
        </article>
        <article>
            <h3> Instructions </h3>
            <ol>
                <li>Dice the onion, mushrooms, and garlic and saute in a pan over med-high heat.</li>
                <li>Add spinach to the pan and cover the pan. Wait until they and sweated down and add more. Repeat until all the spinach has been added.</li>
                <li>Pre-heat the oven to 350 degrees.</li>
                <li>Add the onions, mushrooms, garlic, and spinach to a large mixing bowl. Set aside some of the mozzeralla cheese to cover the peppers 
                    add the rest to the bowl. Add the cream cheese and parmesan cheese to the bowl and mix all together.</li>
                <li>Add paprika and mix in salt and pepper to taste.</li>
                <li>Cut the peppers in half and remove the stem and seeds.</li>
                <li>Set the peppers on a baking sheet and fill each pepper with the mix from the bowl.</li>
                <li>Cover the peppers with the remaining mozzeralla cheese.</li>
                <li>Once done pre-heated, add the peppers to the oven. Wait until the cheese is golden-brown or about 10 minutes.</li>
                <li>Enjoy!</li>
            </ol>
        </article>
    </div>
{% endblock %}
